In [1]:
import pandas as pd

In [2]:
# Путь к файлам
file1 = "./data-2072-2024-04-15.csv"
file2 = "./data-2457-2024-05-03.csv"

In [3]:
# Считываем названия столбцов
with open(file1, "r", encoding="utf-8") as file:
    column_names = file.readline().strip().split(";")

# Создаем DataFrame, пропуская строку с описаниями столбцов
df1 = pd.read_csv(file1, sep=";", skiprows=2, names=column_names)
df1.columns = [col.replace('"', "") for col in df1.columns]

In [4]:
df1.head()

,ID,EDU_NAME,global_id,YEAR,AdmArea,District,PASSES_OVER_220,PASSER_UNDER_160,
0,8236,Государственное бюджетное общеобразовательное ...,797946035,2016-2017,Восточный административный округ,район Богородское,5,19,NaN
1,8237,Государственное казенное общеобразовательное у...,797949150,2016-2017,Восточный административный округ,район Богородское,14,47,NaN
2,8238,Государственное казенное общеобразовательное у...,797949275,2016-2017,Восточный административный округ,район Вешняки,0,1,NaN
3,8239,Частное учреждение общеобразовательная организ...,797949425,2016-2017,Восточный административный округ,район Вешняки,0,6,NaN
4,8240,Автономная некоммерческая организация средняя ...,797949570,2016-2017,Восточный административный округ,район Восточное Измайлово,1,5,NaN

In [5]:
df1['EDU_NAME'].value_counts()

EDU_NAME
Государственное казенное общеобразовательное учреждение города Москвы «Специальная (коррекционная) общеобразовательная школа-интернат № 31»                                                             7
Автономная некоммерческая организация средняя Общеобразовательная школа «Колибри»                                                                                                                       7
Государственное бюджетное общеобразовательное учреждение города Москвы «Школа № 1324»                                                                                                                   7
Государственное бюджетное общеобразовательное учреждение города Москвы «Школа № 1798 «Феникс»                                                                                                           7
Частное учреждение средняя общеобразовательная школа «Славянско-англо-американская школа «Марина»                                                                                                       7
                                                                                                                                                                                                       ..
Государственное бюджетное общеобразовательное учреждение города Москвы школа № 825 имени В.А. Караковского                                                                                              1
Автономная некоммерческая организация высшего образования «МОСКОВСКИЙ МЕЖДУНАРОДНЫЙ УНИВЕРСИТЕТ»                                                                                                        1
Государственное бюджетное общеобразовательное учреждение города Москвы «Школа № 1502 Энергия»                                                                                                           1
Государственное бюджетное профессиональное образовательное учреждение города Москвы «Московское среднее специальное спортивное училище № 4 имени А.Я. Гомельского» Департамента спорта города Москвы    1
Автономная некоммерческая организация средняя общеобразовательная школа «Ювенес»                                                                                                                        1
Name: count, Length: 1013, dtype: int64

ID	EDU_NAME	global_id	YEAR	AdmArea	District	PASSES_OVER_220	PASSER_UNDER_160	
0	Код	Название образовательного учреждения	global_id	Учебный период, за который сдаётся ЕГЭ	Административный округ	Район	Количество обучающихся, набравших не менее 220...	Количество обучающихся, набравших больше 160 б...	NaN

In [5]:
df1 = df1.drop(columns=[""])

In [6]:
missing_values = df1.isnull().sum()
missing_values

ID                  0
EDU_NAME            0
global_id           0
YEAR                0
AdmArea             0
District            0
PASSES_OVER_220     0
PASSER_UNDER_160    0
dtype: int64

In [7]:
df2 = pd.read_csv(file2, sep=";", header=0, skiprows=[1])

df2.columns = [col.replace('"', "") for col in df2.columns]

In [8]:
df2.head()

,global_id,ID,Date,AdmArea,District,Longitude_WGS84,Latitude_WGS84,Location,Results,geoData,geodata_center,Unnamed: 11
0,272399481,103,11.03.2016,Юго-Восточный административный округ,район Марьино,37.746472,55.659195,"улица Перерва, дом 39",Содержание загрязняющих веществ в атмосферном ...,"{coordinates=[37.746472, 55.659195], type=Point}","{coordinates=[37.746472, 55.659195], type=Point}",NaN
1,272399482,104,10.03.2016,Центральный административный округ,Красносельский район,37.632260,55.762905,"Милютинский переулок, дом 12",Содержание загрязняющих веществ в атмосферном ...,"{coordinates=[37.63226, 55.762905], type=Point}","{coordinates=[37.63226, 55.762905], type=Point}",NaN
2,272399483,105,11.03.2016,Северо-Западный административный округ,район Митино,37.357923,55.829820,"улица Рословка, дом 6, корпус 2",Содержание загрязняющих веществ в атмосферном ...,"{coordinates=[37.357923, 55.82982], type=Point}","{coordinates=[37.357923, 55.82982], type=Point}",NaN
3,272399484,106,11.03.2016,Северо-Западный административный округ,район Щукино,37.455031,55.795514,"Живописная улица, дом 40",Содержание загрязняющих веществ в атмосферном ...,"{coordinates=[37.455031, 55.795514], type=Point}","{coordinates=[37.455031, 55.795514], type=Point}",NaN
4,272399485,113,14.03.2016,Зеленоградский административный округ,район Крюково,37.189678,55.964282,"город Зеленоград, корпус 2308А",Содержание загрязняющих веществ в атмосферном ...,"{coordinates=[37.189678, 55.964282], type=Point}","{coordinates=[37.189678, 55.964282], type=Point}",NaN

In [9]:
df2 = df2.drop(columns=["Unnamed: 11"])

In [12]:
df2['Results'].value_counts()

Results
Содержание загрязняющих веществ в атмосферном воздухе на жилой территории не превысило предельно допустимых максимальных разовых нормативов                                                                           7641
Содержание загрязняющих веществ в атмосферном воздухе на жилой территории не превысило предельно допустимых максимальных разовых нормативов.                                                                          1688
По отдельным веществам в атмосферном воздухе выявлены повышенные максимальные разовые концентрации загрязняющих веществ                                                                                                 93
По отдельным веществам в атмосферном воздухе выявлены повышенные максимальные разовые концентрации загрязняющих веществ.                                                                                                76
По отдельным веществам в атмосферном воздухе выявлены повышенные максимальные разовые концентрации загрязняющих веществ, обусловленные неблагоприятными метеорологическими условиями для рассеивания                    64
Содержание загрязняющих веществ в атмосферном воздухе на жилой территории не превысило предельно допустимых максимально разовых нормативов.                                                                             53
Содержание загрязняющих веществ в атмосферном воздухе на жилой территории не превысило предельно допустимых максимальных разовых нормативов\n                                                                           21
По отдельным веществам в атмосферном воздухе выявлены превышения предельно допустимых максимальных разовых нормативов                                                                                                   18
Зафиксированы повышенные максимальные разовые концентрации отдельных загрязняющих веществ в атмосферном воздухе в контрольных точках со стороны автотрассы                                                              16
Содержание загрязняющих веществ в атмосферном воздухе на территории не превысило предельно допустимых максимальных разовых нормативов                                                                                   14
Содержание загрязняющих веществ в атмосферном воздухе на жилой территории не превысило предельно допустимых среднесуточных нормативов                                                                                   14
По отдельным веществам в атмосферном воздухе выявлены повышенные среднесуточные концентрации загрязняющих веществ.                                                                                                      11
Зафиксированы повышенные максимальные разовые концентрации отдельных загрязняющих веществ в атмосферном воздухе в контрольных точках со стороны автотрассы.                                                              8
По отдельным веществам в атмосферном воздухе выявлены повышенные максимальные разовые концентрации загрязняющих веществ, обусловленные неблагоприятными метеорологическими условиями для рассеивания.                    7
Содержание загрязняющих веществ в атмосферном воздухе на жилой территории не превысило предельно допустимых среднесуточных нормативов.                                                                                   6
Содержание загрязняющих веществ в атмосферном воздухе на жилой территории не превысило предельно допустимых максимально разовых нормативов                                                                               6
По отдельным веществам в атмосферном воздухе выявлены превышения предельно допустимых максимальных разовых нормативов.                                                                                                   5
По отдельным веществам в атмосферном воздухе выявлены превышения предельно допустимых максимальных разовых нормативов, данные превышения обусловлены неблагоприятными метеорологическими условиями для рассеивания       4
Содержание загрязняющих веществ в атмосферном воздухе на жилой территории не превысило предельно допустимых максимальных разовых нормативов.\n                                                                           4
По отдельным веществам в атмосферном воздухе выявлены превышения предельно допустимых среднесуточных нормативов                                                                                                          2
По отдельным веществам в атмосферном воздухе выявлены повышенные среднесуточные концентрации загрязняющих веществ                                                                                                        2
По отдельным веществам в атмосферном воздухе выявлены повышенные среднесуточные концентрации загрязняющих веществ, обусловленные неблагоприятными метеорологическими условиями для рассеивания                           2
Содержание загрязняющих веществ в атмосферном воздухе на жилой территории не превысило предельно допустимых максимальных разовых нормативов.\nзагрязняющих веществ.                                                      2
По отдельным веществам в атмосферном воздухе выявлены повышенные максимальные разовые концентрации загрязняющих веществ.\n                                                                                               1
Зафиксированы повышенные среднесуточные концентрации отдельных загрязняющих веществ в атмосферном воздухе в контрольных точках со стороны автотрассы.                                                                    1
Содержание загрязняющих веществ в атмосферном воздухе на территории ООПТ не превысило предельно допустимых максимальных разовых нормативов.                                                                              1
По отдельным веществам в атмосферном воздухе выявлены повышенные максимальные разовые концентрации загрязняющих веществ..                                                                                                1
Содержание загрязняющих веществ в атмосферном воздухе на территории не превысило предельно допустимых максимальных разовых нормативов.                                                                                   1
Содержание загрязняющих веществ в атмосферном воздухе на жилой территории не превысило предельно допустимых максимальных разовых нормативов/                                                                             1
По отдельным веществам в атмосферном воздухе выявлены превышения предельно допустимых среднесуточных нормативов.                                                                                                         1
По отдельным веществам в атмосферном воздухе выявлены повышенные значения предельно допустимых максимальных разовых и среднесуточных нормативов.                                                                         1
содержание загрязняющих веществ в атмосферном воздухе на жилой территории не превысило предельно допустимых максимальных разовых нормативов                                                                              1
Содержание загрязняющих веществ в атмосферном воздухе не превысило предельно допустимых максимальных разовых нормативов                                                                                                  1
По отдельным веществам в атмосферном воздухе выявлены превышения предельно допустимых максимальных разовых и среднесуточных нормативов.                                                                                  1
По отдельным веществам в атмосферном воздухе выявлены повышенные максимальные разовые концентрации загрязняющих веществ\n                                                                                                1
По отдельным веществам в атмосферном воздухе выявлены повышенные максимальные разовые концентрации загрязняющих веществ, обусловленные неблагоприятными метеорологическими условиями для рассеивания\n                   1
"Зафиксированы повышенные максимальные разовые концентрации отдельных загрязняющих веществ в атмосферном воздухе в контрольной точке со стороны автотрассы.                                                              1
Name: count, dtype: int64

In [21]:
# Объединение DataFrame
combined_df = pd.concat([df1, df2], ignore_index=True)

# Отображение первых нескольких строк объединенного DataFrame
combined_df.head(10)

,ID,EDU_NAME,global_id,YEAR,AdmArea,District,PASSES_OVER_220,PASSER_UNDER_160,Date,Longitude_WGS84,Latitude_WGS84,Location,Results,geoData,geodata_center
0,8236,Государственное бюджетное общеобразовательное ...,797946035,2016-2017,Восточный административный округ,район Богородское,5.0,19.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,8237,Государственное казенное общеобразовательное у...,797949150,2016-2017,Восточный административный округ,район Богородское,14.0,47.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,8238,Государственное казенное общеобразовательное у...,797949275,2016-2017,Восточный административный округ,район Вешняки,0.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,8239,Частное учреждение общеобразовательная организ...,797949425,2016-2017,Восточный административный округ,район Вешняки,0.0,6.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,8240,Автономная некоммерческая организация средняя ...,797949570,2016-2017,Восточный административный округ,район Восточное Измайлово,1.0,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,8241,Государственное бюджетное общеобразовательное ...,797949715,2016-2017,Восточный административный округ,район Восточный,8.0,27.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,8242,Государственное бюджетное образовательное учре...,797949790,2016-2017,Восточный административный округ,район Ивановское,16.0,41.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,8243,Государственное бюджетное общеобразовательное ...,797949791,2016-2017,Восточный административный округ,район Измайлово,2.0,7.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,8244,Общеобразовательная автономная некоммерческая ...,797949792,2016-2017,Восточный административный округ,район Измайлово,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,8245,Государственное бюджетное общеобразовательное ...,797949793,2016-2017,Восточный административный округ,район Косино-Ухтомский,7.0,30.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [22]:
combined_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14655 entries, 0 to 14654
Data columns (total 15 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ID                14655 non-null  int64
 1   EDU_NAME          4884 non-null   object
 2   global_id         14655 non-null  int64
 3   YEAR              4884 non-null   object
 4   AdmArea           14655 non-null  object
 5   District          14655 non-null  object
 6   PASSES_OVER_220   4884 non-null   float64
 7   PASSER_UNDER_160  4884 non-null   float64
 8   Date              9771 non-null   object
 9   Longitude_WGS84   9771 non-null   float64
 10  Latitude_WGS84    9771 non-null   float64
 11  Location          9771 non-null   object
 12  Results           9771 non-null   object
 13  geoData           9771 non-null   object
 14  geodata_center    9771 non-null   object
dtypes: float64(4), int64(2), object(9)
memory usage: 1.7+ MB

In [23]:
combined_df.describe()

,ID,global_id,PASSES_OVER_220,PASSER_UNDER_160,Longitude_WGS84,Latitude_WGS84
count,14655.000000,1.465500e+04,4884.000000,4884.000000,9771.000000,9771.000000
mean,7502.114841,1.441915e+09,32.878174,62.736486,37.564198,55.716145
std,3437.465525,7.425014e+08,43.024724,59.634067,0.172054,0.113281
min,5.000000,2.723995e+08,0.000000,0.000000,36.847743,55.211918
25%,4727.500000,9.155636e+08,8.000000,23.000000,37.453827,55.643693
50%,8367.000000,1.081807e+09,22.000000,51.000000,37.549157,55.709023
75%,10226.500000,2.381763e+09,43.000000,86.000000,37.682700,55.795757
max,13119.000000,2.667327e+09,658.000000,711.000000,37.958645,56.009346

In [24]:
# Поиск пропущенных значений
missing_values = combined_df.isnull().sum()
print("Missing Values:\n", missing_values)

Missing Values:
 ID                     0
EDU_NAME            9771
global_id              0
YEAR                9771
AdmArea                0
District               0
PASSES_OVER_220     9771
PASSER_UNDER_160    9771
Date                4884
Longitude_WGS84     4884
Latitude_WGS84      4884
Location            4884
Results             4884
geoData             4884
geodata_center      4884
dtype: int64